* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.query>h2 {
    margin-top: 40px;
    text-align: center;
}

input[type=text],
input[type=tel],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.submit-btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: red;
}

.query-form {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    padding: 10px;

    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 500px;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ff6f69;
    font-family: cursive;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.links li {
    list-style: none;
}

.heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    letter-spacing: 3px;
}

.links a {
    color: white;
    font-size: 14px;
    padding: 14px 16px;
}

.links a:hover:not(.active) {
    background-color: black;
}

.links a.active {
    background-color: black;
}

footer {
    margin-top: 100px;
    /*from where?*/
    background-color: #0e0e0e;
    color: #8996a0;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.socials {
    padding: 20px;
    text-align: center;
}

.socials li {
    list-style: none;
    padding: 4px;
}

.socials a {
    color: white;
    font-size: 14px;
    padding: 14px 16px;
}

.socials a:hover:not(.active) {
    color: red;
}

.alert {
    margin-bottom: 1rem;
    height: 1.25rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.25rem;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
}

.alert-danger {
    color: #721c24;
    background: #f8d7da;
}

.alert-success {
    color: #155724;
    background: #d4edda;
}