* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ff6f69;
    font-family: cursive;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.links li {
    list-style: none;
}

.heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    letter-spacing: 3px;
}

.links a {
    color: white;
    font-size: 14px;
    padding: 14px 16px;
}

.links a:hover:not(.active) {
    background-color: black;
}

.links a.active {
    background-color: black;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/eng-hero-banner-1920x1080.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    letter-spacing: 3px;
    font-family: cursive;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px 10px;
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    margin: 15px;
}

.hero-text button:hover {
    background-color: #ff6f69;
    color: white;
}

.wrap {
    float: right;
    margin: 0px 0px 10px 20px;
    position: relative;
}


footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    background-color: #0e0e0e;
    color: #8996a0;
    text-align: center; */
    background-color: #0e0e0e;
    color: #8996a0;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    /* z-index: 2; */
    text-align: center;
}

.socials {
    padding: 20px;
    text-align: center;
}

.socials li {
    list-style: none;
    padding: 4px;
}

.socials a {
    color: white;
    font-size: 14px;
    padding: 14px 16px;
}

.socials a:hover:not(.active) {
    color: red;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: red;
}

.container {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    padding: 10px;

    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    /* height: 50%; */
    width: 500px;
}

.rankings {
    text-align: center;
    margin: 20px;
}

#about {
    margin: 20px;
}

.content {
    justify-content: center;
    font-family: cursive;
    font-size: large;
    box-sizing: border-box;
    margin: 30px;
    word-spacing: 0.3em;
}

.flex-container-1 {
    display: flex;
    margin: 10px;

    background-color: #ff6f69;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    /* grow shrink basis*/
    color: black;
}

.flex-container-1>div {
    background-color: white;
    /* opacity: 0.3; */
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

.flex-container-2 {
    margin: 10px;
    display: flex;
    background-color: #E0E0E0;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    color: white;
}

.flex-container-2>div {
    background-color: #ff6f69;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

.faculty-image {
    margin: 10px;
}

.img {
    display: flex;
    align-content: center;
}